@import url(null.css);

.wrapper {
  width: 100%;
  overflow: hidden;
}
.background-up {
  background-color: rgb(169, 198, 245);
  height: 400px;
  position: relative;
  top: 0;
  left: 0;
}
.sky {
  width: 700px;
  position: absolute;
  top: 20px;
  left: 0;
  animation-name: sky;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes sky {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(300px, 0px);
  }
}
.cloud {
  width: 700px;
  position: absolute;
  top: 0;
  left: 800px;
  animation-name: cloud;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cloud {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(150px, 0px);
  }
}
.mountain {
  position: relative;
  width: 500px;
  height: 300px;
  top: 175px;
  left: -76px;
  z-index: 1;
}
.mountain-2 {
  position: relative;
  width: 700px;
  height: 500px;
  top: -35px;
  left: -378px;
  z-index: 2;
}
.mountain-3 {
  position: relative;
  width: 800px;
  height: 500px;
  top: -450px;
  left: 820px;
  z-index: 2;
}
.mountain-4 {
	position: relative;
	width: 800px;
	height: 500px;
	top: -1050px;
	left: 600px;
	z-index: 1;
  }

.background-down {
  background-color: rgb(87, 83, 83);
  height: 400px;
  position: relative;
  top: 0;
  left: 0;
  border-top: 15px solid rgb(255, 255, 255);
  border-bottom: 15px solid #fff;
  box-shadow: 0 0 1px 1px #000, inset 0 0 1px 1px #000;
  z-index: 3;
}
.car {
  animation-name: car;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
  z-index: 5;
}
@keyframes car {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(100%, 0px);
  }
}
.linea {
  background-color: rgb(255, 255, 255);
  height: 15px;
  position: relative;
  top: 185px;
  left: 0;
  border: 1px solid #000;
}
.body {
  background-color: rgb(30, 13, 88);
  width: 300px;
  height: 180px;
  position: relative;
  bottom: 445px;
  left: 300px;
}
.body__head {
  background-color: rgb(30, 13, 88);
  border-radius: 43% 55% 0% 0% / 100% 91% 48% 60%;
  width: 350px;
  height: 90px;
  position: absolute;
  content: "";
  right: 6px;
  top: -90px;
}
.body__face {
  background-color: rgb(30, 13, 88);
  border-radius: 0% 83% 30% 0% / 100% 100% 47% 62%;
  width: 390px;
  height: 180px;
  position: absolute;
  content: "";
  right: -200px;
  top: 0;
}
.body__back {
  background-color: rgb(30, 13, 88);
  border-radius: 23% 0% 0% 34% / 12% 10% 10% 88%;
  width: 200px;
  height: 180px;
  position: absolute;
  content: "";
  left: -200px;
  top: 0;
}
.block {
  background-color: rgb(30, 13, 88);
  width: 170px;
  height: 50px;
  position: absolute;
  content: "";
  left: 239px;
  top: -18px;
  transform: rotate(40deg);
  border-radius: 20px;
}
.block_back {
  left: -150px;
  top: -35px;
  transform: rotate(140deg);
}

.body__window {
  width: 150px;
  height: 60px;
  border: 4px solid gray;
  border-radius: 84% 0% 0% 51% / 61% 68% 93% 0%;
  background-color: rgb(3, 3, 3);
  position: absolute;
  content: "";
  top: -65px;
  left: -28px;
}
.body__window_two {
  width: 140px;
  border-radius: 0% 93% 0% 46% / 100% 68% 93% 0%;
  left: 133px;
}
.body__window_three {
  width: 6px;
  height: 62px;
  border: 2px solid gray;
  border-radius: 0% 44% 39% 0% / 6% 47% 49% 10%;
  left: 305px;
  transform: rotate(-50deg);
}
[class*="body__wheel"] {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgb(137, 142, 142);
  border: 3px solid rgb(5, 4, 4);
  box-shadow: 0 0 3px 10px rgb(0, 0, 0);
  position: absolute;
  content: "";
  bottom: -26px;
}

.body__wheel-left {
  left: -95px;
}
.body__wheel-right {
  right: -80px;
}

[class*="decoration"] {
  position: absolute;
  border-radius: 100% 100% 50% 47% / 100% 100% 100% 100%;
  background: rgb(87, 83, 83);
  width: 130px;
  height: 130px;
  top: 109px;
}
.decoration-left {
  left: -116px;
}
.decoration-rigth {
  right: -100px;
}
.item {
  max-width: 85px;
  position: absolute;
  content: "";
  left: -92px;
  top: 119px;
  animation-name: wheel;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.item_left {
  position: absolute;
  content: "";
  left: 293px;
}
@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.door {
  width: 130px;
  height: 130px;
  background-color: rgb(30, 13, 88);
  position: absolute;
  content: "";
  top: 10px;
  left: 131px;
  border-radius: 0% 0% 80% 57% / 26% 29% 15% 10%;
  border: 1px solid #000;
}
.door_left {
  left: 0;
  border-radius: 0% 0% 80% 57% / 26% 29% 8% 18%;
}
.door__element {
  width: 20px;
  height: 8px;
  background-color: #000;
  position: absolute;
  top: 5px;
  left: 7px;
}
.headlight {
  width: 13px;
  height: 52px;
  background-color: rgb(253, 243, 197);
  border: 2px solid #000;
  border-radius: 0% 100% 100% 1% / 0% 53% 49% 0%;
  position: absolute;
  top: 73px;
  right: -200px;
  transform: rotate(-20deg);
}
.headlight-back {
  width: 15px;
  height: 50px;
  background-color: rgb(253, 243, 197);
  border: 3px solid #000;
  border-radius: 100% 100% 3% 100% / 100% 0% 0% 100%;
  position: absolute;
  top: 13px;
  left: -202px;
}
